.theme-setter select{
    display: inline-block;
    background: var(--primary-color) none;
    border: 0;
    color: var(--font-color);
    font-size: 15px;
    margin: 0 5px 0 0;
    font-family: Lato, sans-serif;
    cursor: pointer;
}


.theme-setter span {
    display: inline-block;
    background: none;
    border: 0;
    color: var(--font-color);
    font-size: 15px;
    margin: 0 5px 0 0;
    font-family: Lato, sans-serif;
    cursor: pointer;
}